 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {

     /* ### Primary */


     --Softblue: hsl(215, 51%, 70%);
     --Cyan: hsl(178, 100%, 50%);

     /* ### Neutral */

     /* (main BG) */
     --Verydarkbluemain: hsl(217, 54%, 11%);
     /* (card BG) */
     --Verydarkbluecard: hsl(216, 50%, 16%);
     /* (line) */
     --Verydarkblue: hsl(215, 32%, 27%);
     --White: hsl(0, 0%, 100%);
 }



 body {
     font-family: 'Outfit', sans-serif;
     font-size: 18px;
 }


 main {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--Verydarkbluemain);
 }


 .card-container {
     width: 320px;
     height: auto;
     background-color: var(--Verydarkbluecard);
     padding: 1.5rem;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     user-select: none;
 }

 .header {
     width: 100%;
     height: 300px;
     border-radius: 8px;
     overflow: hidden;
     position: relative;
     background-image: url("./images/image-equilibrium.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     cursor: pointer;
 }

 .header img {
     width: 100%;
     height: 100%;
 }

 .header:hover:after {
     content: "";
     background-image: url("./images/icon-view.svg");
     background-repeat: no-repeat;
     background-position: 50%, 50%;
     display: block;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     z-index: 11;
     background-color: hsla(178, 100%, 50%, .5);
 }

 /* .header::after {
     content: "";
     background-image: url("./images/icon-view.svg");
     background-repeat: no-repeat;
     background-position: 50%, 50%;
     display: block;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     z-index: 11;
     background-color: hsla(178, 100%, 50%, .5);
 } */




 .card-container h1 {
     color: var(--White);
     font-size: 1.2rem;
     cursor: pointer;
 }

 .card-container p {
     color: var(--Softblue);
     font-size: 1rem;
 }

 .description {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid rgba(255, 255, 255, .2);
     padding-bottom: 1rem;
 }

 .line {
     border-color: rgba(255, 255, 255, .2);
 }

 .eth {
     color: var(--Cyan);
 }

 .description p {
     display: flex;
     align-items: center;
     gap: .3rem;
     font-size: .9rem;
 }

 .footer {
     display: flex;
     align-items: center;
     gap: 1rem;
 }

 .footer img {
     width: 30px;
     height: 30px;
     border: 2px solid var(--White);
     border-radius: 100%;
 }

 .footer p {
     font-size: .9rem;
 }

 .span-style {
     color: var(--White);
     cursor: pointer;
 }


 .card-container h1:hover {
     color: var(--Cyan);
 }

 .span-style:hover {
     color: var(--Cyan);
 }